@{
    ViewData["Title"] = "Home Page";
}


<style>
    #Container {
        background-image: url('../../wwwroot/Profile.jpg'); /* Replace 'your-image-path.jpg' with the path to your image */
        background-size: cover;
         width:100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; /* Set the height to 100% of the viewport height */
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #794848;
    }

    .text-center {
        color: white; /* Set text color to contrast with the background*/
    }
</style>
<div id="Container">
    <div class="text-center">
        <h1 class="display-4" style="font-size:100px"> RoboMind System </h1>
        <br /> 
        <h2>
            Phone (UAE) : +971504628338
            <br /> <br /> 
            Phone  (EGY): +20 1030650169 
            <br /> 
            <br /> 
            Address : Sharjah - UAE
            <br /> <br /> 
            Address : ShibinElkom - Menoufiya - Egypt 
        </h2>
        <p>Learn about <a href="https://www.facebook.com/RoboMindAcademy">building Web apps with ASP.NET Core With RoboMind</a>.</p>
    </div>
</div>

   

